<header>
    <div class="interior">
        <h1>REDCA  |  Todo por ti</h1>
        <nav class="navegacion">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>