<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title><%= title %> - Gestión de usuario</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="login">
        <h1>Gestión de usuario/clave</h1>
        <div class="alert">
            <p id="noapreta">
                Acabas de toparte con la página de Julio. Él te envía un saludo, esperando que te animes a apreciar su trabajo en esta aplicación
            </p>
            <p id="apreta">Julio te está saludando</p>
        </div>
        <h3 id="bendiciones">¡DILE HOLA!</h3>
        <div id="isesion">
            <a href="/">Volver a iniciar sesión</a>
        </div>
    </div>
</body>
</html>
</body>
</html>